body {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    color: #008303;
}
a, h1, h2 {
	color: #00008F;
}
h1 a {
	display: block;
	padding: 5px;
	width: calc(100% - 10px);
	background-color: #008303;
	text-decoration: none;
}
form {
	margin: .1em auto;
	padding: .1em;
	width: 400px;
	border: 1px
}
.heading {
    font-weight: bold;
}
.page {
    margin: .1em auto;
    padding: .1em;
    width: 504px;
}
.entry {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #888;
}
input[type=text] {
    margin: .5em 0;
    padding: .5em;
    font-size: 12px;
    color: #777;
    width: 200px;
}
input[type=textarea] {
    margin: .5em 0;
    padding: .5em;
    font-size: 12px;
    color: #777;
    width: 200px;
}

@media only screen and (max-width: 480px) {
	.page {
        width: 300px;
	}
}
