{% extends "layout.html" %}
{% block content %}
<h2>Charities</h2>
    <dl>
    {% for entry in entries %}
    	<dt>{{ entry.name }}</dt>
	<dd>
	    <p><i>{{ entry.description }}</i></p>
	    <p><i class="fas fa-map-marker-alt"></i> {{ entry.address }}</p>
	    <iframe
		    width="100%"
		    height="200px"
		    style="border:0"
		    loading="lazy"
		    allowfullscreen
		    src="https://www.google.com/maps/embed/v1/place?key=API_KEY_HERE&q={{ entry.address }}">
	    </iframe>
	    <p><i class="fas fa-link"></i> <a href="{{ entry.website }}">{{ entry.website }}</a></p>
	    <p><i class="fas fa-phone"></i> <a href="tel:{{ entry.phone }}">{{ entry.phone }}</a></p>
	</dd>
    {% endfor %}
    </dl>
{% endblock %}
