{% extends "layout.html" %}
{% block content %}
    <h3>Submit one <a href="{{ url_for('submit') }}">here</a></h3>
    <h3>View charities <a href="{{ url_for('charities') }}">here</a></h3>

    <p>Contact Sam Platt at <a href="mailto:platts1@sou.edu">platts1@sou.edu</a> with questions or comments</p>
{% endblock %}
