<!doctype html>
<html>
<head>
   <script src='https://kit.fontawesome.com/f54327952d.js' crossorigin='anonymous'></script>
   <title>Medford Charities and Social Services</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
   <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- so media queries work -->
</head>
    <div class=page>
	<h1><a href="{{ url_for('index') }}">Medford Charities and Social Services</a></h1>
        {% block content %}{% endblock %}
    </div>
</html>
