{% extends "layout.html" %}
{% block content %}
    <h2>Submit a Charity or Social Service</h2>
    <form action="{{ url_for('submit') }}" method=post>
	<p class="heading">
	Name: <input type=text name=name><br/>
	Description: <textarea rows=5 cols=50 name=description></textarea><br/>
	Address: <input type=text name=address><br/>
	Website: <input type=url name=website><br/>
	Phone Number: <input type=tel name=phone><br/>
	</p>
	<p><input type=submit value=Submit></p>
    </form>
{% endblock %}
